<p>
  Hello,<br/ >
  AskMe is web online application for sharing thoughts ideas and provide easy to use and
  flexible communication tool for small to huge groups of people.
</p>

<p>
  <% if @current_user %>
    <a href="/app" class="button">Go to application</a>
  <% else %>
    <a href="/sign_in" class="button">Sign In</a>
    <a href="/sign_up" class="button">Sign Up</a>
  <% end%>
</p>