<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Askme</title>
    <link rel="shortcut icon" href="http://<%= request.env["HTTP_HOST"] %>/favicon.ico" />
  </head>  
  <body>
    <%= yield %>
  </body>
</html>