<div class="content_wrapper">
  <h2>Password Change</h2>
  <form method="post" action="/password/change" class="auth_form">
    <input type="password" name="password_new" placeholder="password" />
    <input type="submit" name="action" value="Change password">
  </form>
</div>