<div class="content_wrapper">
  <h2>Password Reset</h2>
  <form method="post" action="/password/reset" class="auth_form">
    <input type="text" name="email" placeholder="email" />
    <input type="submit" name="action" value="Reset password">
  </form>
</div>